{{nav-bar}}

<div class="container">
  <div class="page-header">
    <h1 id="title">Welcome to GSRSLY<sup>&copy;</sup> Demo</h1>
  </div>
  
  <div class="row">
    <div class="container col-md-6">
      {{outlet}}
      {{login-box}}
    </div>
  </div>
</div>