<div id="envyFeed" class="container">
  {{! Sidebar (Detail) }}
  <div class="col-xs-3 col-sm-3 sidebar" id="sidebar" role="navigation">
     {{side-bar}}
  </div>

  {{! Main content (Detail) }}
  <div class="col-xs-6 col-sm-6" id="mainFeed">
    <h2>test</h2>
    <div id="update">
      {{! {{render "update-status"}}
    </div>
    <div id="feed">
      {{! {{#each item in content itemController="feedling"}}
        {{! {{partial 'feedling'}}
      {{! {{/each}}
    </div>
  </div>

  {{! Right side Detail }}
  <div class="col-xs-3 col-sm-3">
    {{right-bar}}
  </div>
</div>