<div class="container">
  <div class="page-header">
    <h1 id="title">Welcome to <span class="greenFont">gSRSLY<sup>&copy;</sup></span> Demo</h1>
  </div>
  
  <div class="row">
    <div class="container col-md-6">
      <div class="login">
        <div id="fields" class="loginFields">
          <div id="usernameField">
            {{input class="inputField" type="text" value=username placeholder="Username"}}
          </div>
          <div id="passwordField">
            {{input class="inputField" type="password" value=password placeholder="Password"}}
          </div> 
        </div>
        <div id="loginButtons" class="loginButtons">
          <button title="btnLogin" class="btnLogin" {{action 'checkLogin' this username password}}>Login</button>
        </div>
      </div>
    </div>
  </div>
</div>