<div class="login">
  <div id="fields" class="loginFields">
    <input type="text" id="username" placeholder="Username">
    <input type="text" id="password" placeholder="Password">
  </div>
{{yield}}
  <div id="loginButtons" class="loginButtons">
    <button title="btnLogin" class="btnLogin" {{action 'checkLogin'}}>Login</button>
  </div>
</div>