<div class="login">
  <div id="fields" class="loginFields">
    <div id="usernameField">
      <input type="text" class="inputField" id="username" placeholder="Username">
    </div>
    <div id="passwordField">
      <input type="password" class="inputField" id="password" placeholder="Password">
    </div> 
  </div>
{{yield}}
  <div id="loginButtons" class="loginButtons">
    <button title="btnLogin" class="btnLogin" {{action 'checkLogin'}}>Login</button>
  </div>
</div>