<div id="rightbar">
  <div id="trending" class="rightbar">
    <img src="../../../static/envy/img/icons/trending.png" style="margin-top:0px; margin-left:5px; width:20px;"/>
    <h1 style="margin-top: 3px;">Trending</h1>   
    <hr style="margin-top:2px;">
  </div>
  <div id="ads" class="rightbar">
    {{!-- Joke Ads --}}
    <h1 style="margin-top:3px; margin-left:15px;">Ads</h1>
    <hr style="margin-top:2px;">
    <div id="adsArea" class="feedlingArea" style="margin-top:-25px;">
      <span>
      <h1 style="margin-top:-15px;">Are you a soccer coach?</h1> <br />  Well we've got an app for that!  Try United!</span>
      <hr style="margin-top:2px;">
      <span><h1 style="margin-top:-15px;">Are you a STEAL administrator?</h1>  If so - build an app for that!</span>
      <hr style="margin-top:2px;">
      <span><h1 style="margin-top:-15px;">Looking to shop, but don't know what to buy?</h1>  Try Good Huntress!</span>
      <hr style="margin-top:2px;">
      <span><h1 style="margin-top:-15px;">Tired of typing all those church hymns into your excel?</h1>  Try Church 2.0 by Fowler!</span>
    </div>
  </div>
</div>